body {
	background-image: url("../images/bg2.jpg");
}
.navbar-default .navbar-brand {
	color: #fff;
	font-style: italic;
}
.navbar-brand {
	float: none;
}
.navbar {
	position: relative;
	background-color: #000;
}
h3 {
	padding: 0px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	font-size: 1em;
}
.main {
	margin-top: 3%;
	margin-bottom: 5%;
	background: rgba(255, 255, 255, .7);
	padding-top: 15px;
	padding-bottom: 70px;
}
p {
	margin: 0 auto;
}
p.help {
	font-weight: bold;
	text-align: center;
	margin: 20px;
	font-size: 1.2em;
	
}
textarea#message-content {
	resize: vertical;
}
.form-control {
	border-radius: 0px;
	width: 95%;
	margin: 0 auto;
}
.form-control[readonly] {
	background-color: #fff;
}
.input-group {
	border-radius: 0px;
	width: 95%;
	margin: 0 auto;
}
.input-group-addon {
	border-radius: 0px;
}
.input-group-addon:last-child:hover {
	background-color: #dcdcdc;
}
.btn {
	margin-top: 15px;
	border-radius: 0px;
	font-weight: bold;
}
hr {
	width: 95%;
}
.alert {
	border-radius: 0px;
	width: 95%;
	margin: 0 auto;
}
.alert-info {
	background-color: #000;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 50px;
}
.close {
	color: #dcdcdc;
	text-shadow: none;
	opacity: 1;
}
.close:hover {
	color: #fff;
}
#done {
	color: lime;
}
h4#count {
	text-align: center;
	font-weight: bold;
	font-size: 3vw;
	background-color: #fff;
	height: 135px;
	line-height: 135px;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 15px;
}
span.sunaikinta {
	color: red;
}
span.uzkoduota {
	color: lime;
}